* {
    font-family: Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: #ccc;
    color: #222;
}
header, footer, div {
    width: 1000px;
    margin: 0 auto;
    
}
header, footer {
    background-color: #8c1d40;
    color: #fff;
    padding: 20px;
    text-align: center;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
}
#grid-container {
    display: grid;
    grid-template-columns: 1.5fr 5fr;
}
nav {
    background-color: #ffc627;
}
nav ul {
    padding-left: 0px;
}
nav li {
    list-style-type: none;
}
nav a {
    background-color: #8c1d40;
    color: #fff;
    padding: 8px;
    text-align: center;
    margin: 24px 16px;
    font-weight: bold;
    font-size: 20px;
    display: block;
    text-decoration: none;
}
nav li:hover {
    color: #8c1d40;
    background-color: #fff;
}
main{
    background-color: #fff;
    padding: 24px;
}
main a {
    color: #8c1d40;
    font-weight: bold;
}
main a:hover {
    color:#8c1d40;
    background-color: #fff;
    padding: 4px;    
}
p q {
    color: #444;
}
q {
    font-style: italic;
}
 .year {
   background-color: #ffc627;
   color: #555;
   padding: 4px;
   font-size: 20px;
   font-weight: bold; 
}
footer h2 {
    font-size: 24px;
    margin: 8px 8px;
}
address {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}
footer a {
    color: #fff;
    display: inline-block;
    padding: 8px 16px 8px 8px;
    font-weight: normal;
}
footer a:hover {
    color: #ffc627;
}